dataset/math10k/clean_train.json
dataset/prm800k/clean_train.json
dataset/prm800k/phase2_train.jsonl
dataset/prm800k/train.json
Numprob/embeddings/llama3/test_layer_0.embeds
Numprob/embeddings/llama3/val_layer_5.embeds
Numprob/embeddings/llama3/val_layer_6.embeds
Numprob/embeddings/llama3/val_layer_3.embeds
Numprob/embeddings/llama3/test_layer_22.embeds
Numprob/embeddings/llama3/test_layer_15.embeds
Numprob/embeddings/llama3/test_layer_10.embeds
Numprob/embeddings/llama3/val_layer_26.embeds
Numprob/embeddings/llama3/test_layer_4.embeds
Numprob/embeddings/llama3/val_layer_32.embeds
Numprob/embeddings/llama3/train_layer_2.embeds
Numprob/embeddings/llama3/val_layer_28.embeds
Numprob/embeddings/llama3/test_layer_28.embeds
Numprob/embeddings/llama3/val_layer_9.embeds
Numprob/embeddings/llama3/val_layer_17.embeds
Numprob/embeddings/llama3/train_layer_20.embeds
Numprob/embeddings/llama3/test_layer_9.embeds
Numprob/embeddings/llama3/train_layer_21.embeds
Numprob/embeddings/llama3/val_layer_18.embeds
Numprob/embeddings/llama3/val_layer_19.embeds
Numprob/embeddings/llama3/test_layer_6.embeds
Numprob/embeddings/llama3/test_layer_24.embeds
Numprob/embeddings/llama3/val_layer_11.embeds
Numprob/embeddings/llama3/train_layer_0.embeds
Numprob/embeddings/llama3/train_layer_28.embeds
Numprob/embeddings/llama3/test_layer_30.embeds
Numprob/embeddings/llama3/val_layer_27.embeds
Numprob/embeddings/llama3/val_layer_22.embeds
Numprob/embeddings/llama3/val_layer_7.embeds
Numprob/embeddings/llama3/test_layer_31.embeds
Numprob/embeddings/llama3/test_layer_3.embeds
Numprob/embeddings/llama3/test_layer_26.embeds
Numprob/embeddings/llama3/test_layer_18.embeds
Numprob/embeddings/llama3/train_layer_7.embeds
Numprob/embeddings/llama3/train_layer_15.embeds
Numprob/embeddings/llama3/val_layer_25.embeds
Numprob/embeddings/llama3/val_layer_0.embeds
Numprob/embeddings/llama3/train_layer_18.embeds
Numprob/embeddings/llama3/val_layer_31.embeds
Numprob/embeddings/llama3/val_layer_15.embeds
Numprob/embeddings/llama3/train_layer_14.embeds
Numprob/embeddings/llama3/train_layer_6.embeds
Numprob/embeddings/llama3/train_layer_13.embeds
Numprob/embeddings/llama3/train_layer_26.embeds
Numprob/embeddings/llama3/test_layer_5.embeds
Numprob/embeddings/llama3/train_layer_27.embeds
Numprob/embeddings/llama3/train_layer_22.embeds
Numprob/embeddings/llama3/test_layer_19.embeds
Numprob/embeddings/llama3/test_layer_27.embeds
Numprob/embeddings/llama3/test_layer_16.embeds
Numprob/embeddings/llama3/val_layer_2.embeds
Numprob/embeddings/llama3/test_layer_17.embeds
Numprob/embeddings/llama3/val_layer_10.embeds
Numprob/embeddings/llama3/train_layer_1.embeds
Numprob/embeddings/llama3/test_layer_25.embeds
Numprob/embeddings/llama3/val_layer_8.embeds
Numprob/embeddings/llama3/train_layer_17.embeds
Numprob/embeddings/llama3/train_layer_3.embeds
Numprob/embeddings/llama3/val_layer_30.embeds
Numprob/embeddings/llama3/train_layer_32.embeds
Numprob/embeddings/llama3/val_layer_21.embeds
Numprob/embeddings/llama3/val_layer_13.embeds
Numprob/embeddings/llama3/train_layer_5.embeds
Numprob/embeddings/llama3/train_layer_9.embeds
Numprob/embeddings/llama3/val_layer_4.embeds
Numprob/embeddings/llama3/test_layer_21.embeds
Numprob/embeddings/llama3/train_layer_30.embeds
Numprob/embeddings/llama3/val_layer_29.embeds
Numprob/embeddings/llama3/val_layer_14.embeds
Numprob/embeddings/llama3/test_layer_1.embeds
Numprob/embeddings/llama3/train_layer_25.embeds
Numprob/embeddings/llama3/test_layer_32.embeds
Numprob/embeddings/llama3/train_layer_11.embeds
Numprob/embeddings/llama3/test_layer_23.embeds
Numprob/embeddings/llama3/test_layer_11.embeds
Numprob/embeddings/llama3/val_layer_23.embeds
Numprob/embeddings/llama3/test_layer_2.embeds
Numprob/embeddings/llama3/train_layer_12.embeds
Numprob/embeddings/llama3/val_layer_24.embeds
Numprob/embeddings/llama3/val_layer_1.embeds
Numprob/embeddings/llama3/train_layer_16.embeds
Numprob/embeddings/llama3/train_layer_10.embeds
Numprob/embeddings/llama3/test_layer_8.embeds
Numprob/embeddings/llama3/test_layer_20.embeds
Numprob/embeddings/llama3/test_layer_7.embeds
Numprob/embeddings/llama3/test_layer_12.embeds
Numprob/embeddings/llama3/train_layer_31.embeds
Numprob/embeddings/llama3/val_layer_20.embeds
Numprob/embeddings/llama3/train_layer_4.embeds
Numprob/embeddings/llama3/val_layer_16.embeds
Numprob/embeddings/llama3/test_layer_14.embeds
Numprob/embeddings/llama3/train_layer_24.embeds
Numprob/embeddings/llama3/test_layer_29.embeds
Numprob/embeddings/llama3/train_layer_8.embeds
Numprob/embeddings/llama3/train_layer_23.embeds
Numprob/embeddings/llama3/test_layer_13.embeds
Numprob/embeddings/llama3/train_layer_29.embeds
Numprob/embeddings/llama3/val_layer_12.embeds
Numprob/embeddings/llama3/train_layer_19.embeds
Truthful/faithful_results/llama3_ffn_down/truthful_probe_base.json
Truthful/faithful_results/llama3_ffn_down/truthful_probe_prefix.json
Truthful/faithful_results/llama3_ffn_down/truthful_probe_reft.json
.git/objects/04/1cd477d882927947cf9cb27b505e6a477aea8c
.git/objects/a8/062938db527dd117f263014f4c620eb09b5898
.git/objects/e2/10188a983c6e4bda0fcd5d2c2ae4199f5c8652
.git/objects/fb/0e2c4f3760ff5302038e3a7f97fc04a4b59c1a
.git/objects/bc/ff61620bb7d0b35095ed9a61de7d780944975c
.git/objects/98/bc7a35e54920cdda21f2c0c167cf5874ded7b0
.git/objects/cb/f12fddf2ac915997edbe91852dc396bc275890
.git/objects/4e/025cadf8080d36772f74a91731616dc0f21b20
.git/objects/4e/f9f4e398767caa8e8bab4f6877b5f34f2e7a8d
.git/objects/c2/dfe47ab7c1578d59ebd012f9968d713439aa6d
.git/objects/94/7825a681da5fb162adb3a3303e18b97b1a3f4b
.git/objects/58/aa1ad5deda91d29d6f342356a59eab1ae80e2b
.git/objects/f4/346a951291f6740ed1922bac4526d2639020a0
.git/objects/68/b84567b4c115aef01561848547f8e4522dbee5
.git/objects/48/b9f53a42d9f8d5a49bc24a13ec65cec81b7fcd
.git/objects/a3/e9604039989516b3c6ca121774348468ed82cf
.git/objects/ba/5b22ae58cf2ebf39d7b8eb04121648c5ab8781
.git/objects/11/bf407957e75eced84afd8c4bba5b28598b52df
.git/objects/35/74c51f230c59ab0f6c36591dd13db5cdac520e
.git/objects/f6/7ec9b3e4fd53dee9bc2b2d6e2f3cfdb5ede1ef
.git/objects/df/1980f910005ca907081030c66b63ba1e70e9ed
.git/objects/41/46731b1931ecfd378a8777afd4a7ba02f14943
.git/objects/60/0e2c54b13c0585396cba4b48d0cec1e00fface
.git/objects/1f/78a6d6d476560ebf8f39a72814a1f2f5d2b28b
.git/objects/a5/105d3a5dbb6ce31c4561fb10d025e2e7761fa3
.git/objects/38/d1bf2c4e45e6d5f12948e60a12e8f69d8012a5
.git/objects/07/40f192560ca1c6f9e2a9eb018713ff19e9254b
.git/objects/7b/323aa019d743b434311e8b357306b75fa5d3f5
.git/objects/pack/tmp_pack_7YJl3z
.git/objects/pack/tmp_pack_ehkQZh
.git/objects/pack/tmp_pack_twJBw3
.git/objects/pack/tmp_pack_AsDjzd
.git/objects/4f/b09823c3ea13132d24f266d529964b4774440f
.git/objects/27/250c9f5817d3bd13a8bc9f0daf7c2dfd8226c6
.git/objects/22/6ac19adaee328788a692ccb81ddcc25bb582fb
.git/objects/c3/f04e85cb70d0edc819bcee2e08feb4a67a195a
.git/objects/f7/3c72b34c69df70c7d7611d63aca65a9f35f6ce
.git/objects/9c/15d3bcd182eb6f90e60ad9dce4917145208f4f
.git/objects/2c/af892526439facb63f57f47dd67e56b5e87313
.git/objects/bd/cffdf03369bbf850f1983642cc277b5b2cd0d0
.git/objects/83/ab312d3c30fa42c5e091ecb332dac1d92bf498
.git/objects/3b/2340fc26d0beed1eef5dd352ae1f1172d44b2a
.git/objects/fc/2696339360b84282c0f9177d214acbeb1f9315
.git/objects/fe/d1d884eae7a6991eae1932424af4027550a824
.git/objects/8f/75c2be377bb9024c575bd4370d730ccd8b26cf
.git/objects/21/815b27bf2488b7ea047bf066af585a6b929ebe
.git/objects/5b/c68508860b8103cd6feb5b89666216bb24cac7
.git/objects/e0/cdd8e9def60d6fd9441942b14c494b4fba9fc2
.git/objects/0b/00c0123f41d4523470b3a20bbeb1b633f347d2
.git/objects/f1/92aba66ed5b2f65c6e7be887408ee0d468868b
.git/objects/bb/0792551ff26d45d981ffe62c75b47c62016ae4
.git/objects/25/7d56374ead20f195a259a006168746546d14b7
.git/objects/ff/d1e05f0bfb9de242ca3e89491d540c0c273832
.git/objects/5d/9c0a40d7b6f04b206765490b6473617be81350
.git/objects/e4/b3f08bc45d95ec6baf33cf0e329a83f0237f5b
.git/objects/0d/b5b5d74c503547910caf0e38c8e0d0995bebba
.git/objects/d6/fe48b20631fccd45eb322ab2801962007034b8
.git/objects/d6/a2c1928d53897a03e6688a18debbe0808fc9ed
.git/objects/d6/9bed50213f8d91b44022b48094aed5bf45a9af
.git/objects/bf/9c23878718dc004f7c464dc967eeddb9f0a088
.git/objects/d2/43b1248a337f5e790466491ba4eff3a798c059
.git/objects/f5/0a3b8be6f86992c37653b1ed5c97063e475e2a
.git/objects/f5/f11b28ec1435659b4d9a670471deeb6facd711
.git/objects/fd/7c0337880c0e11afa49966f6a171a2b5a63536
.git/objects/fd/f23e51b497f9d95a7b050f45dc944e0602cc1b
.git/objects/84/6db3daa1eacbc9c4ec3bf6b65b417a425b479d
.git/objects/84/003b2906145b59d884f6710a6afe5d709cf21d
.git/objects/e9/d530d95895eb68f4b79d8de6a0aef92506dcf3
.git/objects/e9/4c36f153684660ea33d3ed86fdac64a54608b8
.git/objects/4d/76bbff76014fef8f4d7b0bc79bca540c9d8ff1
